<%= form_with model: [@article,@article.comments.build] do |f|%>
<%# build: 親モデルに属する子モデルのインスタンスを新たに生成したい場合に使用 %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.select :status, ['public', 'private', 'archived'],selected: 'public'%>
  </p>
  <p>
    <%= f.submit "comment"%>
  </p>
<% end %>